/*=========*/
/*  RESET  */
/*=========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------------------------------------*/

/*===========*/
/*  GENERAL  */
/*===========*/
body{
  /*background-color: #222;*/
}
p{
  font-family: 'Mirza', cursive;
  font-size: 23px;
}
.container{
  display: flex;
  flex-direction: column;
}
/*---------------------------------------*/
@media all and (min-width: 801px) and (max-width: 1920px) {
/*=======*/
/*  NAV  */
/*=======*/
  nav{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgba(225, 207, 187, 0.5);

    /* j'ai dégagé le border radius de la nav */
  }
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    width: 100%;
    list-style: none;
  }
  li{
    list-style: none;
    font-size: 20px;
  }
  a{
    text-decoration: none;
    font-family: 'Lobster', cursive;
    background-color: rgba(202, 202, 202, 0.8);
    border: 2px solid black;
    border-radius: 30%;
    padding: 8%;
    font-size: 25px;
    color: black;
  }
/* HOVER DES BOUTONS DE LA NAV */
  .accueil:hover{
    color: white;
    background-color: rgba(253, 160, 41, 0.8);
  }
  .accrobranche:hover{
    color: white;
    background-color: rgba(75, 163, 60, 0.8);
  }
  .skatepark:hover{
    color: white;
    background-color: rgba(13, 176, 195, 0.8);
  }
  .bistrot:hover{
    color: white;
    background-color: rgba(224, 204, 22, 0.8);
  }
  .evenement:hover{
    color: white;
    background-color: rgba(252, 42, 33, 0.8);
  }
  .anniversaire:hover{
    color: white;
    background-color: rgba(220, 63, 209, 0.8);
  }
/*---------------------------------------*/

/*==========*/
/*  HEADER  */
/*==========*/
  header{
    background-image: url('../images/bgbody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FB7826;
    text-shadow: 4.5px 4.5px 1px black;
  }
  h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    padding: 8%;
    font-size: 80px;
    color: #FB7826;
  }
/*---------------------------------------*/

/*========*/
/*  MAIN  */
/*========*/
  main{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  section{
    display: flex;
    margin: auto;
    height: auto;
    width: 60%;
    flex-direction: row;
    margin-top: 30px;
    /*background-color: #F8F3D1;*/
  }
  article{
    height: 270px;
    padding: 2%;
  }
  img{
    height: 100%;
    width: 100%;
  }
  .txt_sec, .txt_sec1{
    flex: 1;
  }
  .img_txt, .calendrier, .menu{
    flex: 2;
  }
/* ARTICLLE BORDER LEFT/RIGT IMG */
  .img_txt{
    border-right: 2px solid #fff;
  }
  .calendrier{
    border-left: 2px solid #fff;
  }
  .menu{
    border-right: 2px solid #fff;
  }
/* SECTION BORDER TOP/BOTTOM*/
  .section1{
    border-top: 2px solid #fff;
  }
  .section2{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .section3{
    border-bottom: 2px solid #fff;
  }
/*---------------------------------------*/

/*===============*/
/*  SECTION MAP  */
/*===============*/
  .maps{
    border-top: 3px solid #FB7826;
    border-radius: 10px 10px 0px 0px;
    height: 400px;
    width: 100%;
  }
  .div_map{
    width: 100%;
  }
/*---------------------------------------*/

/*==========*/
/*  FOOTER  */
/*==========*/
  footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #222;
    font-size: 18px;
    color: #FB7826;
    font-family: 'Mirza', cursive;
  }
/* ICON / PARTENAIRES */
  .info{
    background-color: inherit;
  }
  .fc{
    border: none;
    background-color: inherit;
  }
/* HORRAIRE */
  hr{
    color: white;
    width: 80%;
    margin: auto;
  }
  .hrsection{
    width: 40%;
    margin: 60px auto;
    color: #FB7826;
    border: 4px solid #FB7826;
  }
  .horraire{
    font-weight: bold;
    width: 65%;
    margin-top: 20px;
    margin-left: 2%;
  }
  .text_horraire1{
    font-size: 23px;
  }
}

/*---------------------------------------------*/

/*============*/
/* Animation */
/*==========*/

.box-active {
  animation-name: translateInRight;
  animation-duration: 5s;
  animation-iteration-count: revert;
}
.box-active2 {
  animation-name: translateInLeft;
  animation-duration: 4s;
  animation-iteration-count: revert;
}

@keyframes translateInRight {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(+150%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes translateInLeft {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }

  50% {
    transform: translateX(-175%)
  }
  100% {
    transform: translateX(0%);
  }
}